body{
    margin: 0;
    padding: 0;
}

.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 219, 219);
    width: 100vw;
    height: 100vh;
}

.trails{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-areas: "1fr 1fr 1fr" "1fr 1fr 1fr" "1fr 1fr 1fr"
}

.trails div{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInitial{
    margin: 0;
}

.moveUserTop{
    animation: upUser .5s linear;
    margin-top: -30vh;
    opacity: 0;
}

.moveUserLeft{
    animation: leftUser .5s linear;
    margin-left: -30vh;
    opacity: 0;
}

.moveUserRight{
    animation: rightUser .5s linear;
    margin-right: -30vh;
    opacity: 0;
}

.moveUserBottom{
    animation: downUser .5s linear;
    margin-bottom: -30vh;
    opacity: 0;
}

@keyframes upUser{
    0%{
        margin-top: 0;
        opacity: 100%;
    }
    50%{ opacity: 100%; }
    100%{
        margin-top: -30vh;
        opacity: 0;
    }
}

@keyframes leftUser{
    0%{
        margin-left: 0;
        opacity: 100%;
    }
    50%{ opacity: 100%; }
    100%{
        margin-left: -40vh;
        opacity: 0;
    }
}

@keyframes rightUser{
    0%{
        margin-right: 0;
        opacity: 100%;
    }
    50%{ opacity: 100%; }
    100%{
        margin-right: -40vh;
        opacity: 0;
    }
}

@keyframes downUser{
    0%{
        margin-bottom: 0;
        opacity: 100%;
    }
    50%{ opacity: 100%; }
    100%{
        margin-bottom: -30vh;
        opacity: 0;
    }
}